
@{
    ViewBag.Title = "Result";
}

<h2>Результат операции:</h2>
<p>
    @Request.QueryString["first_n"] @Request.QueryString["oper"] @Request.QueryString["second_n"] = @Request.QueryString["Result"]

</p>